@model Cosu_MVC.Models.DTO.Album.GetAlbumDTO

<div style="margin-top:30px;">
    <h4>Chi tiết album</h4>
    <div class="row">
        <p> Mã : @Model.Id</p>
        <p> Tên : @Model.Name</p>
    </div>
    <br />
    <div>
        <a asp-action="ListAlbums">Trở lại danh sách</a>
    </div>
</div>



