@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="text-center">
                <h6 class="display-4" style="font-size:20px;">Hệ thống quản lý hình ảnh</h6>
                <br />
                <div>
                    <a class="btn btn-primary" asp-controller="Images" asp-action="ListImages">Quản lý ảnh</a>
                    <a class="btn btn-primary" asp-controller="Albums" asp-action="ListAlbums">Quản lý album</a>
                </div>

            </div>
        </div>
        
    </div>
</div>

